.Octoreactions {
    text-align: right;
    display: block;
    padding-left: 1.2em;
}

.Octoreactions g-emoji {
    font-size: 18px !important;
    margin-right: -2px !important;
}

.Octoreactions span {
    color: #767676;
    font-size: 13px;
    vertical-align: middle;
}